body {
    font-family: Consolas, monospace;
}

textarea {
    resize: none;
    width: 20vw;
    height: 50vh;
}

table {
    width: 40vw;
    height: 50vh;
}

td {
    padding: 0px calc((4vw - 31px) / 2);
    margin: 0px 1px;
    padding-bottom: calc((5vh - 34.5px) / 2);
    display: inline-grid;
    border: 1px solid #ccc;
    text-align: center;
}

.labelCell {
    font-size: 12px;
}

.button {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.field {
    width: 80%;
    height: 16px;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.center {
    align-items: center;
}

#controller-container {
    width: 20vw;
}

#inputdiv {
    width: calc(80% + 5px);
}

#inputdiv>.button {
    padding: 0px 8px;
    height: 20px;
}

.highlight {
            display: block;
            width: 100%; /* Make the highlight 2px wider */
            background-color: rgba(0, 255, 0, 0.7);
            height: calc(1em + 5px); /* Make the highlight 2px taller */
        }
        .highlight-container {
            position: relative;
            width: fit-content;
        }
        .highlight-text {
            position: absolute;
            white-space: pre-wrap; 
            word-wrap: break-word;
            background: transparent;
            pointer-events: none;
            z-index: 1;
            color: transparent;
            margin: 1px 0;
            padding: 0;
            width: 100%;
        }
        textarea {
            position: relative;
            background: none;
            z-index: 2;
            color: black;
        }